header {
  display: flex;
  justify-content: space-between;
  padding: 35px 65px;
}

header img {
  height: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.menu button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(112, 32, 83);
}
